source: https://www.kaggle.com/hoonkeng/deep-analysis-on-youtube-trending-videos-eda/notebook

In [7]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
filename1 = 'dataframe.csv'
filename2 = 'dataframe_all_timestamps.csv'

df = pd.read_csv('../youtube/dataframe.csv')
df_all_timestamps = pd.read_csv('../youtube/dataframe_all_timestamps.csv')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171149 entries, 0 to 171148
Data columns (total 19 columns):
video_id                  171149 non-null object
trending_date             171149 non-null object
title                     171149 non-null object
channel_title             171149 non-null object
category_id               171149 non-null int64
category                  171149 non-null object
publish_date              171149 non-null object
publish_time              171149 non-null object
tags                      171149 non-null object
views                     171149 non-null int64
likes                     171149 non-null int64
dislikes                  171149 non-null int64
comment_count             171149 non-null int64
thumbnail_link            171149 non-null object
comments_disabled         171149 non-null bool
ratings_disabled          171149 non-null bool
video_error_or_removed    171149 non-null bool
description               171149 non-null object
country                   171149 non-null object
dtypes: bool(3), int64(5), object(11)
memory usage: 21.4+ MB

In [12]:
df_all_timestamps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356350 entries, 0 to 356349
Data columns (total 19 columns):
video_id                  356350 non-null object
trending_date             356350 non-null object
title                     356350 non-null object
channel_title             356350 non-null object
category_id               356350 non-null int64
category                  356350 non-null object
publish_date              356350 non-null object
publish_time              356350 non-null object
tags                      356350 non-null object
views                     356350 non-null int64
likes                     356350 non-null int64
dislikes                  356350 non-null int64
comment_count             356350 non-null int64
thumbnail_link            356350 non-null object
comments_disabled         356350 non-null bool
ratings_disabled          356350 non-null bool
video_error_or_removed    356350 non-null bool
description               356350 non-null object
country                   356350 non-null object
dtypes: bool(3), int64(5), object(11)
memory usage: 44.5+ MB

In [13]:
def stringify(row):
    return str(row['publish_date']) + ' ' + str(row['publish_time'])

df_all_timestamps.loc[:,'string_date_time'] = \
                            df_all_timestamps.apply(stringify, axis=1)

df_all_timestamps.loc[:,'publish_timestamp'] = \
                pd.to_datetime(df_all_timestamps['string_date_time'],
                                infer_datetime_format=True,
                                errors='coerce')

df_all_timestamps = df_all_timestamps.drop('string_date_time', axis=1)

#make a new column in df called 'publish_timestamp' 
#that is a datetime object

df.loc[:,'string_date_time'] = df.apply(stringify, axis=1)
df.loc[:,'publish_timestamp'] = \
                pd.to_datetime(df['string_date_time'],
                                infer_datetime_format=True,
                                errors='coerce')
df = df.drop('string_date_time', axis=1)

In [14]:
def stringifybis(row):
    return str(row['trending_date'])

df_all_timestamps.loc[:,'string_date_time'] = \
                            df_all_timestamps.apply(stringifybis, axis=1)

df_all_timestamps.loc[:,'trending_timestamp'] = \
                pd.to_datetime(df_all_timestamps['string_date_time'],
                                infer_datetime_format=True,
                                errors='coerce')

df_all_timestamps = df_all_timestamps.drop('string_date_time', axis=1)

In [16]:
df_all_timestamps[['title', 'views', 'country', 'trending_date']].sort_values('views', ascending = False).head(10)

,title,views,country,trending_date
245305,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,424538912,GB,2018-04-07
243642,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,413586699,GB,2018-04-06
240603,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,402650804,GB,2018-04-05
239722,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,392036878,GB,2018-04-04
236698,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,382401497,GB,2018-04-03
235400,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,372399338,GB,2018-04-02
234431,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,362111555,GB,2018-04-01
231508,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,349987176,GB,2018-03-31
229579,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,339629489,GB,2018-03-30
306688,"Te Bote Remix - Casper, Nio Garc√≠a, Darell, Ni...",337621571,GB,2018-05-18

In [17]:
df[['title', 'views', 'country', 'publish_date']].sort_values('views', ascending = False).head(10)

,title,views,country,publish_date
119441,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,424538912,GB,2018-03-02
149316,"Te Bote Remix - Casper, Nio Garc√≠a, Darell, Ni...",337621571,GB,2018-04-11
105767,Bad Bunny - Amorfoda | Video Oficial,328860380,GB,2018-02-15
86795,Ozuna x Romeo Santos - El Farsante Remix,288811992,GB,2018-01-30
167397,Childish Gambino - This Is America (Official V...,259721696,GB,2018-05-06
107307,Drake - God‚Äôs Plan,258164991,GB,2018-02-17
155749,Ariana Grande - No Tears Left To Cry,208876887,GB,2018-04-20
155748,"Becky G, Natti Natasha - Sin Pijama (Official ...",200862743,GB,2018-04-20
32380,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,169884583,GB,2017-12-06
73848,Dura - Daddy Yankee (Video Oficial),167456025,GB,2018-01-18

In [20]:
df[df['country'] == 'US'][['title', 'country', 'views', 'trending_date']].sort_values('views', ascending = False).head(10)

,title,country,views,trending_date
107016,Maluma - El Pr√©stamo (Official Video),US,87264467,2018-03-25
146563,VENOM - Official Trailer (HD),US,59254638,2018-05-14
166508,Selena Gomez - Back To You (Lyric Video),US,54863912,2018-06-09
22112,42 HOLY GRAIL HACKS THAT WILL SAVE YOU A FORTUNE,US,54155921,2017-12-11
146586,Sanju | Official Teaser | Ranbir Kapoor | Rajk...,US,48654951,2018-05-14
159668,Do You Hear Yanny or Laurel? (SOLVED with SCIE...,US,42799458,2018-06-01
169801,Daddy Yankee - Hielo (Video Oficial),US,41803845,2018-06-14
125236,The Weeknd - Call Out My Name (Official Audio),US,41604561,2018-04-20
146540,Jennifer Lopez - El Anillo (Official Video),US,41446137,2018-05-14
169825,Sanju | Official Trailer | Ranbir Kapoor | Raj...,US,40714581,2018-06-14

In [18]:
# how to subset the minimum date for each video, to check which has the best impact on the audience
first_collection = df_all_timestamps.groupby(['title'])['trending_timestamp'].min().head()
first_collection

title
 D√©sol√© je ne vous avais pas vu !  üò± üëé ‚ú∂ DO 65                                                     2018-01-18
 Es admirable que Shani haya tenido agallas para retarme FABY APACHE                               2018-02-02
 Fantasma, no necesitabas traer a tus achichincles que nadie conoce   OVETT                        2018-03-09
 KAJAL RAGHWANI  SUPERHIT MOVIE ( Full HD 2018 ) Bhojpuri Superhit Full Movie 2018                 2017-12-31
 Me La Jugu√© con Riesgo a Tronarme As√≠ Habl√≥ Lupita Gonzalez 1era BICAMPEONA DEL MUNDO EN MARCHA   2018-05-11
Name: trending_timestamp, dtype: datetime64[ns]

In [19]:
df.groupby(['category'])['views'].sum().head()

category
Autos & Vehicles      656633645
Comedy               4512718403
Education             579306003
Entertainment       17217938836
Film & Animation     3077233274
Name: views, dtype: int64

In [35]:
df_all_timestamps[['trending_timestamp']].sort_values('trending_timestamp', ascending=False).head()

       trending_timestamp
356349         2018-06-14
355196         2018-06-14
355185         2018-06-14
355186         2018-06-14
355187         2018-06-14